#container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3vh;
}

.block-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background: rgb(207, 235, 245);
  outline: 1px black solid;
}

.block-item {
  display: flex;
  text-align: center;
  align-items: center;
  background: lightblue;
  transition: transform 0.5s linear;
  border: 1px black solid;
  transform: translate(0px, 0px);
}

.block-item h1 {
  flex: 1;
}

